<?xml version="1.0" encoding="utf-8"?>
<config>
  <project>2</project>
  <platform>2</platform>
  <projects>
        <project>
            <id>1</id>
            <path>/Users/localadmin/Documents/Game-Framework/GameFramework_Tutorials/3DScene/3DScene/</path>
        </project>
        
        <project>
            <id>2</id>
            <path>c:\github\game-framework\GameFramework_Tutorials\3DScene\3DScene\</path>
        </project>

        <project>
            <id>3</id>
            <path>c:\github\game-framework\GameFramework_Tutorials\Murmurations\Murmuration\</path>
        </project>
        
        <project>
            <id>4</id>
            <path>/Users/localadmin/Documents/Game-Framework/CardBasedGames/CardTestBed/Tutorial1/</path>
        </project>

        <project>
            <id>5</id>
            <path>\github\game-framework\CardBasedGames\CardTestBed\Tutorial1\</path>
        </project>
        
        <project>
            <id>6</id>
            <path>/Users/localadmin/Documents/Game-Framework/CardBasedGames/SynchronisedPlay/SynchronisedPlay/</path>
        </project>
        
        <project>
            <id>7</id>
            <path>/Users/localadmin/Documents/Game-Framework/CardBasedGames/TurnTakingPlay/TurnTakingPlay/</path>
        </project>
  </projects>
</config>
