*.xcbkptlist
*.tmp
*.xcuserstate
*.suo
*.keeps
*.pbxuser
*.xcworkspace
*.tlog
.DS_Store
*.pdb
*.log
*.idb
*.db
*.obj
*.exp
*.pch
*.lastbuildstate
xcuserdata

CardBasedGames/TurnTakingPlay/TurnTakingPlay/BuildFiles/*
CardBasedGames/TurnTakingPlay/TurnTakingPlay/BuildNotes/*
CardBasedGames/TurnTakingPlay/TurnTakingPlay/Release/*

CardBasedGames/CardTestBed/Tutorial1/BuildFiles/*
CardBasedGames/CardTestBed/Tutorial1/BuildNotes/*
CardBasedGames/CardTestBed/Tutorial1/Release/*

CardBasedGames/SynchronisedPlay/SynchronisedPlay/BuildFiles/*
CardBasedGames/SynchronisedPlay/SynchronisedPlay/BuildNotes/*

3D-Demos/Murmurations/Murmuration/BuildFiles/*
3D-Demos/Murmurations/Murmuration/BuildNotes/*
3D-Demos/Murmurations/Murmuration/Release/*

3D-Demos/3DScene/3DScene/BuildFiles/*
3D-Demos/3DScene/3DScene/BuildNotes/*
3D-Demos/3DScene/3DScene/Release/*

3D-Demos/PS-Move/PS-Move/BuildFiles/*
3D-Demos/PS-Move/PS-Move/BuildNotes/*
3D-Demos/PS-Move/PS-Move/Release/*