
*.WinGL
*.tmp
CardBasedGames/TurnTakingPlay/TurnTakingPlay/BuildFiles/AssetBuildList.iOS
CardBasedGames/TurnTakingPlay/TurnTakingPlay/BuildFiles/ArchiveTimes.iOS
CardBasedGames/CardTestBed/Tutorial1App/Tutorial1App.xcodeproj/project.xcworkspace/xcuserdata/localadmin.xcuserdatad/UserInterfaceState.xcuserstate
CardBasedGames/SynchronisedPlay/SynchronisedPlayApp/SynchronisedPlayApp.xcodeproj/project.xcworkspace/xcuserdata/localadmin.xcuserdatad/UserInterfaceState.xcuserstate
CardBasedGames/TurnTakingPlay/BuildFiles/globalID.dat
CardBasedGames/TurnTakingPlay/TurnTakingPlay/BuildFiles/globalID.dat
*.iPhone
CardBasedGames/TurnTakingPlay/TurnTakingPlay/BuildNotes/iPhone/card.txt
CardBasedGames/TurnTakingPlay/TurnTakingPlay/BuildNotes/iPhone/utility.txt
CardBasedGames/TurnTakingPlay/TurnTakingPlay/BuildNotes/Win32GL/card.txt
CardBasedGames/TurnTakingPlay/TurnTakingPlay/BuildNotes/Win32GL/utility.txt
CardBasedGames/TurnTakingPlay/TurnTakingPlay/Release/card.iPhonez
CardBasedGames/TurnTakingPlay/TurnTakingPlay/Release/card.WinGLz
CardBasedGames/TurnTakingPlay/TurnTakingPlay/Release/utility.iPhonez
GameFramework_Packer/Packer_OSX_NODAE/Packer_OSX.xcodeproj/project.xcworkspace/xcuserdata/localadmin.xcuserdatad/UserInterfaceState.xcuserstate
CardBasedGames/TurnTakingPlay/TurnTakingPlay/BuildFiles/ResourceList.iOS
CardBasedGames/TurnTakingPlay/TurnTakingPlay/Release/card.iPhonez
*.WinGLz
*.WinGLz
*.WinGLz
CardBasedGames/TurnTakingPlay/TurnTakingPlay/Release/utility.WinGLz
*.WinGLz
*.WinGLz
CardBasedGames/TurnTakingPlay/TurnTakingPlay/Release/card.WinGLz
*.iPhonez
CardBasedGames/TurnTakingPlay/TurnTakingPlay/Release/card.iPhonez
CardBasedGames/TurnTakingPlay/TurnTakingPlay/Release/card.WinGLz
CardBasedGames/TurnTakingPlay/TurnTakingPlay/Release/utility.WinGLz
