*.iOS
*.iOSz
*.WinGL
*.WinGLz
*.tmp
*.xcuserstate

CardBasedGames/TurnTakingPlay/TurnTakingPlay/BuildFiles/*
CardBasedGames/TurnTakingPlay/TurnTakingPlay/BuildNotes/*
CardBasedGames/TurnTakingPlay/TurnTakingPlay/Release/*

CardBasedGames/CardTestBed/Tutorial1App/BuildFiles/*
CardBasedGames/CardTestBed/Tutorial1App/BuildNotes/*
CardBasedGames/CardTestBed/Tutorial1App/Release/*

CardBasedGames/SynchronisedPlay/SynchronisedPlay/BuildFiles/*
CardBasedGames/SynchronisedPlay/SynchronisedPlay/BuildNotes/*

GameFramework_Tutorials/3DScene/3DScene/BuildFiles/*
GameFramework_Tutorials/3DScene/3DScene/BuildNotes/*
GameFramework_Tutorials/3DScene/3DScene/Release/*

