<?xml version="1.0" encoding="utf-8"?>
<config>
  <project>1</project>
  <platform>1</platform>
  <projects>
        <project>
            <id>1</id>
            <path>/Users/gavinwood/Documents/GitHub/DOGE-Game-Engine/CardBasedGames/CardTestBed/Tutorial1/</path>
        </project>

        <project>
            <id>5</id>
            <path>/Users/gavinwood/Documents/GitHub/DOGE-Game-Engine/PlayingOutWithIOT/Video/Tutorial1</path>
        </project>
        
  </projects>
</config>
